<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         beStrictAboutOutputDuringTests="false">
    <testsuites>
        <testsuite name="Acme Widget Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="tests/results.html"/>
        <testdoxText outputFile="php://stdout"/>
    </logging>
</phpunit>
